# Python Virtual Environment
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
.gvenv/
gvenv/
result/
dump/
old_documents/
sample_documents
bulk_documents/



# extra files
project_review.md
report.md
ocr_dump.txt
implementation_plan.md
plan.md

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# PaddleOCR & ML Model Caches / Downloaded Weights
.paddleocr/
.cache/
inference/
*.pdmodel
*.pdiparams
*.pdiparams.info
*.onnx

# Environment variables & sensitive keys
.env
.env.*


vision_ai_service/
document-extr-c67b9bdfdf11.json